<div class="container margin_top">
  <h1 class="text-center">My profile <%= @user.first_name %>  <%= @user.last_name %></h1>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-3">
        <%= image_tag @user.user_picture.url(:bright_face) %>
      </div>
      <div class="col-xs-3">
          Prenom : <%= @user.last_name %><br>
          Non : <%= @user.first_name %><br>
          Date de naissance :<%= @user.birth_date %><br>
      </div>
      <div class="col-xs-3">
          Ville : <%= @user.city %><br>
          Email :<%= @user.email %><br>
      </div>
    </div>
  <div class="btn btn-primary col-sm-3 col-sm-offset-4">
    <%= link_to "Back Home", root_path %>
  </div>
  <div class="btn btn-primary col-sm-3 col-sm-offset-4">
    <%= link_to "Edit", profile_edit_user_path %>
  </div>
</div>

<!-- COMMENTS -->
<div class="comments">
    <h4 class="comment-title font-alt">Comments</h4>
    <hr class="divider m-b-30">

    <!-- COMMENT 1 -->
    <ul class="coin_mess2">
        <% @user.reviews.each do |comment| %>
        <div class="comment clearfix">
            <div class="comment-avatar">
              <%= image_tag current_user.user_picture, class:"avatar avatar-large" %>
            </div>
            <div class="comment-content clearfix">
                <h5 class="comment-author font-alt">
                    <a href="#"><%= current_user.first_name %></a>
                </h5>
                <div class="comment-body">
                    <p>
                        <li>
                            <%= comment.content %>
                        </li>
                    </p>
                </div>
                <div class="comment-meta font-alt"><%= Time.now.to_formatted_s(:short) %>
                </div>
            </div>
        </div>
    </ul>
    <% end %>
    <!-- /COMMENT 1 -->
</div>
<!-- /COMMENTS -->

<!-- COMMENT FORM -->
<div class="comment-form" id="coin_mes">
    <h4 class="comment-form-title font-alt">Leave a comment</h4>
    <hr class="divider m-b-30">

    <div class="row">
        <%= simple_form_for([@user, @user.reviews.build]) do |f| %>
        <div class="col-md-12">
            <div class="form-group">
                <%= f.input :content %>
            </div>
        </div>
        <div class="col-md-12">
            <%= f.submit class:"btn btn-round btn-g"%>
        </div>
        <% end %>

<% Message.all.each do |mess|%>
  <% if mess.user_id === current_user.id %>
    <%= "Nom du projet: " + Project.all.find(mess.project_id).name %>
  <% end %>
<% end %>
    </div>
    <!-- /COMMENT FORM -->
