

<div class="container">
  <h1 class="text-center">My profile <%= @user.first_name %>  <%= @user.last_name %></h1>
  <div class="row">
    <div class="col-xs-offset-2 col-xs-1">
      <%= image_tag @user.user_picture, class:"avatar avatar-large" %>
    </div>
    <div class="col-xs-6">
      <%= simple_form_for (@user) do |f| %>
        <%= f.error_notification %>
        <%= f.input :user_picture %>
        <%= f.input :user_picture_cache, as: :hidden %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email %>
        <div class="text-center">
        <%= f.button :submit %></div>
      <% end %>
    </div>
  </div>
</div>
