<div class="margin_top">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">
      <%= simple_form_for(@project) do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :city, input_html: {id: "locality"} %>
      <%= f.input :number_of_participants %>
    </div>

    <div class="col-sm-4 col-sm-offset-1">
      <%= f.input :synopsis %>
      <%= f.input :scenario %>
      <%= f.input :number_of_days_for_crowdfunding %>
      <%= f.input :project_picture %>
      <%= f.input :project_picture_cache, as: :hidden %>
    </div>
  </div>
      <div class="col-sm-offset-1">
      <%= f.button :submit %>
      <%= link_to "Retour à la home", projects_path %>
      <% end %>
      </div>
    <br>
</div>

