<div class="margin_top">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">
      <%= simple_nested_form_for @project do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :city %>
      <%= f.input :number_of_participants, input_html: { min: '1', step: 'any' } %>
      <%= f.fields_for :roles do |role_form| %>
        <%= role_form.select :title, collection: Role.roles_titles %>
        <%= role_form.link_to_remove "Remove this role" %>
      <% end %>
      <p><%= f.link_to_add "Add a role", :roles %></p>
    </div>

    <div class="col-sm-4 col-sm-offset-1">
      <%= f.input :synopsis %>
      <%= f.input :scenario %>
      <%= f.input :number_of_days_for_crowdfunding, input_html: { min: '5', step: 'any' } %>
      <%= f.input :project_picture %>
      <%= f.input :project_picture_cache, as: :hidden %>
      <%= f.input :validated_for_crowdfunding, as: :radio_buttons %>
    </div>
  </div>
      <div class="col-sm-offset-1">
      <%= f.button :submit %>
      <%= link_to "Retour à la home", projects_path %>
      <% end %>
      </div>
    <br>
</div>
