<!-- PORTFOLIO CONTENT -->
<div class="col-xs-10 col-xs-offset-1">

        <!-- PORTFOLIO CONTENT -->
  <!-- div class="row">

    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        <%= link_to @projects.find(2) do %>
          <%= image_tag @projects.find(2).project_picture.url(:photo_home_project_best_lg)%>
          <%= image_tag @projects.find(2).project_picture, class:"visible-xs"%>
        <%end%>
      </p>
    </div>

  </div>

  <div class="row multi-columns-row">

    <div class="col-sm-6 col-md-6 col-lg-6">
      <p>
      <%= link_to @projects.find(7) do %>
        <%= image_tag @projects.find(7).project_picture.url(:photo_home_project_best)%>
        <%= image_tag @projects.find(7).project_picture, class:"visible-xs" %>
      <%end%>
      </p>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
      <p>
        <%= link_to @projects.find(1) do %>
          <%= image_tag @projects.find(1).project_picture.url(:photo_home_project_best)%>
          <%= image_tag @projects.find(1).project_picture, class:"visible-xs" %>
        <%end %>
      </p>
    </div>
  </div> -->

        <!-- /PORTFOLIO CONTENT -->



  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <h2 class="module-title font-alt">ABOUT US</h2>
  </div>

  <!-- PROJECT DETAILS -->
  <div class="row m-t-70">

    <div class="col-sm-6 col-md-4 m-b-sm-30">
      <h5 class="font-alt m-t-0">Community</h5>
      <p>SCREENFAMILY is a huge global community that is built around creativity and creative projects. More than 1.000.000 users all around the world already joined a project.</p>
    </div>

    <div class="col-sm-6 col-md-4 m-b-sm-30">
      <h5 class="font-alt m-t-0">Projects</h5>
      <p>The projects are mostly realized by incredible artists you never heard about and cover most film genres. Everyday, dozens of movies seek crew members to get on the set.</p>
    </div>

    <div class="col-sm-6 col-md-4 m-b-sm-30">
      <h5 class="font-alt m-t-0">People</h5>
      <p>All cinema enthusiasts on SCREENFAMILY keep a complete creative control on their work and offer projects to a dynamic community with fantastic contributors.</p>
    </div>

    <div class="col-xs-6 col-xs-offset-4 margin_top">
      <%= link_to "Join The Community!", new_user_registration_path, class:"btn btn-success btn-lg" %>
    </div>

  </div>

<!-- /PROJECT DETAILS -->
</div>
