<!-- PORTFOLIO CONTENT -->
<div class="col-xs-10 col-xs-offset-1">

        <!-- PORTFOLIO CONTENT -->
  <div class="row">

    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        <%= link_to @projects.find(2) do %>
          <%= image_tag @projects.find(2).project_picture.url(:photo_home_project_best_lg)%>
          <%= image_tag @projects.find(2).project_picture, class:"visible-xs"%>
        <%end%>
      </p>
    </div>

  </div>

  <div class="row multi-columns-row">

    <div class="col-sm-6 col-md-6 col-lg-6">
      <p>
      <%= link_to @projects.find(7) do %>
        <%= image_tag @projects.find(7).project_picture.url(:photo_home_project_best)%>
        <%= image_tag @projects.find(7).project_picture, class:"visible-xs" %>
      <%end%>
      </p>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
      <p>
        <%= link_to @projects.find(1) do %>
          <%= image_tag @projects.find(1).project_picture.url(:photo_home_project_best)%>
          <%= image_tag @projects.find(1).project_picture, class:"visible-xs" %>
        <%end %>
      </p>
    </div>
  </div>

        <!-- /PORTFOLIO CONTENT -->



  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <h2 class="module-title font-alt">About us</h2>
  </div>

  <!-- PROJECT DETAILS -->
  <div class="row m-t-70">

    <div class="col-sm-6 col-md-4 m-b-sm-30">
      <h5 class="font-alt m-t-0">The community</h5>
      <p>Screen family is a huge global community that is built around creativity and creative projects . More than 100 million people from all continents of the planet Screem supported a family project.</p>
    </div>

    <div class="col-sm-6 col-md-4 m-b-sm-30">
      <h5 class="font-alt m-t-0">The projects</h5>
      <p>The projects are mostly realized by incredible artists you never heard .</p>
    </div>

    <div class="col-sm-6 col-md-4 m-b-sm-30">
      <h5 class="font-alt m-t-0">The people</h5>
      <p>Each artist , director, comedian of Screem family retains complete creative control of his work and offers his project to a dynamic community contributors .</p>
    </div>

  </div>
<!-- /PROJECT DETAILS -->
</div>


