<%= render 'shared/banner' %>

<div class="container wow fadeIn animated ">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2 class="module-title font-alt">Best projects</h2>
    </div>
    <div>
      <%= render 'shared/portfolio' %>
      <%= render 'shared/slider_home' %>
    </div>
  </div>
</div>


<!-- TEAM -->
    <section id="team" class="module">

      <div class="container wow fadeIn animated">

        <!-- MODULE TITLE -->
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt">Last projects</h2>
          </div>
        </div>
        <!-- /MODULE TITLE -->

        <div class="row col-xs-10 col-xs-offset-1">
          <% @projects.last(3).each do |proj| %>
          <!-- TEAM MEMBER -->
            <div class="col-xs-12 col-sm-6 col-md-4 m-b-md-20">
              <div class="team-item">
                <div class="post-media-index">
                  <%= link_to project_path(proj) do %>
                    <%= image_tag proj.project_picture.url(:photo_home_project) %>
                  <%end%>
                </div>
                <div class="team-descr">
                  <h5 class="team-name font-alt">
                    <%= link_to project_path(proj) do %>
                      <%= proj.name %>
                    <%end%>
                  </h5>
                  <div class="team-role font-serif"><%= proj.genre %></div>
                </div>
              </div>
            </div>
          <!-- /TEAM MEMBER -->
          <% end %>
        </div>

      </div>

    </section>
    <!-- /TEAM -->


  <div class="container margin-bottom ">

    <!-- SHOW MORE -->
    <div class="row m-t-70 text-center wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
      <div class="col-xs-10 col-xs-offset-1">


            <button id="show-more" class="btn btn-block btn-lg btn-g show-more hidden">
            <%= link_to projects_path do %>
              MORE PROJECTS
            <%end%>

            </button>


            <button id="show-more" class="btn btn-block btn-lg btn-g show-more">
            <%= link_to projects_path do %>
              More projects
            <%end%></button>



      </div>
    </div>
</div>
