<section class="module">
    <div class="container">
        <div class="row">
            <!-- CONTENT -->
            <div class="col-sm-3">
              <% if !current_user.present? %>
              <h1>Subscribe to support this movie!</h1>
              <% end %>
            <h2>Participate now in this project!</h2>

              <h3>Early Bird</h3>
                <p>A big thank you shout out on social media.</p>
                <p>Amount: <%= humanized_money_with_symbol(@project.price) %></p>
                <% if current_user.present? %>
                <%= form_tag orders_path do %>
                <%= hidden_field_tag 'project_id', @project.id %>
                <%= submit_tag 'Purshase', class: 'btn btn-primary' %>
                <% end %>
                <% end %>
              <h3>Strong Believer</h3>
                <p>A digital copy of the film and a digital download of the film's soundtrack.</p>
                <p>Amount: <%= humanized_money_with_symbol(@project.price) %></p>
                <% if current_user.present? %>
                <%= form_tag orders_path do %>
                <%= hidden_field_tag 'project_id', @project.id %>
                <%= submit_tag 'Purshase', class: 'btn btn-primary' %>
                <% end %>
                <% end %>
            <h3>Movie Star</h3>
                <p>An EARLY digital copy of the film before its premiere and a Special Thanks credit.</p>
                <p>Amount: <%= humanized_money_with_symbol(@project.price) %></p>
                <% if current_user.present? %>
                <%= form_tag orders_path do %>
                <%= hidden_field_tag 'project_id', @project.id %>
                <%= submit_tag 'Purshase', class: 'btn btn-primary' %>
                <% end %>
                <% end %>
            </div>
        </div>
    </div>
</section>
