<div class="container margin_top margin-bottom" >
    <h1 class="text-center">
        <%= @project.name %>
    </h1>
    <div class="row margin-bottom">
        <div class="col-sm-3">
            <%= image_tag @project.project_picture, class:"photoadroite" %>
        </div>
         <div class="col-sm-3">
            <%= simple_nested_form_for @project do |f| %>
              <%= f.input :name %>
              <%= f.input :start_date %>
              <%= f.input :end_date %>
              <%= f.input :city, collection: ['Anaheim','Bakersfield','Fresno','Long Beach','Los Angeles','Oakland','Sacramento','San Diego','San Francisco','San Jose'] %>
              <%= f.input :genre %>
              <%= f.input :scenario %>
              <%= f.input :description %>
              <%= f.fields_for :roles do |role_form| %>
                <%= role_form.select :title, collection: Role.roles_titles %>
                <%= role_form.link_to_remove "Remove this role" %>
              <% end %>
              <p><%= f.link_to_add "Add a role", :roles %></p>
          </div>
          <div class="col-sm-4">
              <%= f.input :number_of_participants %>
              <%= f.input :number_of_days_for_crowdfunding %>
              <%= f.input :goal_for_crowdfunding %>
              <%= f.input :pledged %>
              <%= f.input :project_picture %>
              <%= f.input :project_picture_cache, as: :hidden %>
              <%= f.button :submit %>
            <% end %>
        </div>
    </div>

    <div class="btn btn-primary">
      <%= link_to "Back Home", root_path %>
    </div>
    <div class="btn btn-primary">
      <%= link_to "Edit synopsis", edit_synopsis_project_path %>
    </div>
    <div class="btn btn-primary">
      <%= link_to "Edit scenario", edit_scenario_project_path %>
    </div>
    <div class="btn btn-primary">
      <%= link_to "Edit description", edit_description_project_path %>
    </div>
    <div class="btn btn-primary">
      <%= link_to "Go Crowdfunding",set_crowdfunded_project_path %>
    </div>
    <div class="btn btn-primary">
      <%= link_to "Set project in progress", set_inprogress_project_path %>
    </div>
    <div class="btn btn-primary">
      <%= link_to "Set project as finished", set_finished_project_path %>
    </div>
    <div class="btn btn-danger">
      <%= link_to "Cancel Project", set_disabled_project_path %>
    </div>
</div>
