<div class="container margin_top margin-bottom" >
    <h1 class="text-center">
        <%= @project.name %>
    </h1>
    <div class="row margin-bottom">
        <div class="col-sm-3">
            <%= image_tag @project.project_picture, class:"photoadroite" %>
        </div>
         <div class="col-sm-3">
            <%= simple_form_for (@project) do |f| %>
              <%= f.input :name %>
              <%= f.input :start_date %>
              <%= f.input :end_date %>
              <%= f.input :city %>
              <%= f.input :genre %>
          </div>
          <div class="col-sm-4">
              <%= f.input :synopsis %>
              <%= f.input :scenario %>
              <%= f.input :number_of_participants %>
              <%= f.input :number_of_days_for_crowdfunding %>
              <%= f.input :goal_for_crowdfunding %>
              <%= f.input :project_picture %>
              <%= f.input :project_picture_cache, as: :hidden %>
              <%= f.button :submit %>
            <% end %>
        </div>
    </div>

    <div class="btn btn-primary">
      <%= link_to "Back Home", root_path %>
    </div>
    <div class="btn btn-primary">
      <%= link_to "Go Crowdfunding",set_crowdfunded_project_path %>
    </div>
    <div class="btn btn-primary">
      <%= link_to "Set project in progress", set_inprogress_project_path %>
    </div>
    <div class="btn btn-primary">
      <%= link_to "Set project as finished", set_finished_project_path %>
    </div>
    <div class="btn btn-danger">
      <%= link_to "Cancel Project", set_disabled_project_path %>
    </div>
</div>
