<section class="module">
  <div class="container">

    <div class="col-md-6 m-t-md-60">
      <!-- HEADER -->
      <div class="post-header">
        <h1 class="post-title font-alt">
          <%= @project.name %>
        </h1>
      </div>
      <!-- TAGS -->
      <div class="tags">
        <a>Genre: "<%= @project.genre %>"</a>
      </div>
      <!-- /TAGS -->
    </div>
    <!-- /HEADER -->

    <!-- META -->
    <div class="post-meta font-alt">
      City: <%= @project.city %> / Screeners Wanted: <%= @project.number_of_participants %>
    </div>
    <!-- /META -->
  </div>

  <div class="container">
    <div class="row">
      <!-- CONTENT -->
      <div class="col-xs-12 col-md-9">
        <!-- MEDIA -->
        <div class="post-media">
          <%= image_tag @project.project_picture %>
      <!-- POST CONTENT -->
          <h2>Synopsis</h2>
            <% if @project.synopsis != "" %>
            <%= @project.synopsis %>
            <% end %>
            <% if @project.description != "" %>
            <%= @project.description %>
            <% end %>
      <!-- /POST CONTENT -->
        </div>
        <!-- /MEDIA -->
      </div>



      <!-- Son roles -->
      <div class="col-xs-12 col-md-3">
        <h5 class="widget-title font-alt">Tous les rôles</h5>
          <% tab = [] %>
          <% @project.roles.each do |role| %>
            <p>
              <% tab << role.title %>
            </p>
          <% end %>
        <% if current_user != nil %>
          <% current_user.roles.each do |role| %>
            <% inte = role.title.to_i %>
              <% if inte == Role.all.find(inte).id %>
                <% tab.each do |t| %>
                  <% if t.include?(Role.all.find(inte).title) %>
                    <% tab.delete(t) %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <%= tab.reduce(:+) %>
      </div>
      <!-- /Son roles  -->

      <div class="col-xs-12 col-md-3">
        <!-- Choisir son role -->
        <div class="widget">
          <% if policy(@project).join_project? %>
            <h5 class="widget-title font-alt">Choose your role</h5>
            <%= simple_nested_form_for([@project, @project.roles.build]) do |f| %>
            <div class="field">

              <%= f.input :title, collection: @project.roles %>
            </div>
            <div class="actions">
              <%= f.submit %>
            </div>
            <% end %>

          <% end %>
        </div>
      </div>
      <!-- /Choisir son role  -->

      <div class="col-xs-12 col-md-3">
      <h5 class="widget-title font-alt">Crowdfonding</h5>
        <div class="widget">
          <% if @project.validated_for_crowdfunding? %>
          <%= render 'projects/crowdfunding' %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</section>



<!-- joiner -->
<%= render 'projects/joiner' %>
<!-- /joiner -->

<!-- COMMENTS -->
<% if @project.finished? %>
  <div class="comments margin-bottom col-sx-12 col-md-9">
    <h4 class="comment-title font-alt">Comments</h4>
    <hr class="divider m-b-30">
      <ul class="coin_mess2">
        <% @project.reviews.each do |comment| %>
          <div class="comment clearfix">
            <div class="comment-avatar">
              <%= image_tag current_user.user_picture, class:"avatar avatar-large" %>
            </div>
            <div class="comment-content clearfix">
              <h5 class="comment-author font-alt">
                <a href="#"><%= current_user.first_name %></a>
              </h5>
              <div class="comment-body">
                <p>
                  <li>
                    <%= comment.content %>
                  </li>
                </p>
              </div>
              <div class="comment-meta font-alt">
                <%= Time.now.to_formatted_s(:short) %>
              </div>
            </div>
          </div>
        <% end %>
      </ul>
  </div>
<% end %>
<!-- /COMMENTS -->

  <!-- COMMENT FORM -->
<% if !policy(@project).join_project? %>
  <div class="comment-form margin-bottom col-sx-12 col-md-10 col-md-offset-3" id="coin_mes">
    <h4 class="comment-form-title font-alt">Leave a comment</h4>
    <hr class="divider m-b-30">

    <div class="row">
      <%= simple_form_for([@project, @project.reviews.build]) do |f| %>
      <div class="col-md-12">
        <div class="form-group">
          <%= f.input :content %>
        </div>
      </div>
      <div class="col-md-12">
        <%= f.submit class:"btn btn-round btn-g"%>
      </div>

      <% end %>
    </div>
    <!-- /COMMENT FORM -->
  </div>
<% end %>
<!-- /CONTENT -->

