<section class="module">
  <div class="container">

    <div class="col-sm-6 m-t-sm-60">
      <!-- HEADER -->
      <div class="post-header">
        <h1 class="post-title font-alt">
          <%= @project.name %>
        </h1>
      </div>
      <!-- TAGS -->
      <div class="tags">
        <a>Genre: "<%= @project.genre %>"</a>
      </div>
      <!-- /TAGS -->
    </div>
    <!-- /HEADER -->

    <!-- META -->
    <div class="post-meta font-alt">
      City: <%= @project.city %> / Screeners Wanted: <%= @project.number_of_participants %>
    </div>
    <!-- /META -->
  </div>

  <div class="container">
    <div class="row">
      <!-- CONTENT -->
      <div class="col-xs-12 col-sm-9">
        <!-- MEDIA -->
        <div class="post-media">
          <%= image_tag @project.project_picture %>
        </div>
        <!-- /MEDIA -->
      </div>
      <div class="col-xs-12 col-sm-3">
        <!-- Son roles -->
        <h5 class="widget-title font-alt">Tous les rôles</h5>
        <% @project.roles.each do |role| %>
        <p>
          <%= role.title %>
        </p>
        <% end %>
        <!-- <h5 class="widget-title font-alt">Rôles déjà pris</h5>
        <% @project.taken_roles.each do |taken_role| %>
        <p>
          <% if taken_role.title == "1" %>
          <%= "Acteur 1er rôle" %>
          <% end %>
          <% if taken_role.title == "2" %>
          <%= "Acteur 2nd rôle" %>
          <% end %>
          <% if taken_role.title == "3" %>
          <%= "Figurant" %>
          <% end %>
          <% if taken_role.title == "4" %>
          <%= "Cadreur" %>
          <% end %>
          <% if taken_role.title == "5" %>
          <%= "Directeur de la Photographie" %>
          <% end %>
          <% if taken_role.title == "6" %>
          <%= "Monteur" %>
          <% end %>
          <% if taken_role.title == "7" %>
          <%= "Ingénieur Son" %>
          <% end %>
          <% if taken_role.title == "8" %>
          <%= "Chef Opérateur" %>
          <% end %>
          <%= taken_role.title %>
        </p>
        <% end %> -->
      </div>

            <!-- /Son roles  -->
      <div class="col-xs-12 col-sm-3">
        <!-- Choisir son role -->
        <div class="widget">
          <% if policy(@project).join_project? %>
            <h5 class="widget-title font-alt">Choose your role</h5>
            <%= simple_form_for([@project, @project.roles.build]) do |f| %>
            <div class="field">
              <%= f.input :title, collection: @project.roles %>
            </div>
            <div class="actions">
              <%= f.submit %>
            </div>
            <% end %>
          <% end %>
          <!-- /Choisir son role  -->
        </div>
      </div>
          <!-- /Son roles  -->

      <% if @project.validated_for_crowdfunding? %>
      <%= render 'projects/crowdfunding' %>
      <% end %>

    </div>
  </div>
</section>

<!-- POST CONTENT -->
<div class="container">
  <div class="post-entry margin-bottom col-sx-12 col-sm-9">
  <h2>Synopsis</h2>
    <% if @project.synopsis != "" %>
    <%= @project.synopsis %>
    <% end %>
  </div>
</div>

<div class="post-entry margin-bottom col-sx-12 col-sm-9">
  <% if @project.description != "" %>
  <%= @project.description %>
  <% end %>
</div>
<!-- /POST CONTENT -->

<!-- joiner -->

<%= render 'projects/joiner' %>
<!-- /joiner -->

<!-- COMMENTS -->
<% if @project.finished? %>
  <div class="comments margin-bottom col-sx-12 col-sm-9">
    <h4 class="comment-title font-alt">Comments</h4>
    <hr class="divider m-b-30">
      <ul class="coin_mess2">
        <% @project.reviews.each do |comment| %>
          <div class="comment clearfix">
            <div class="comment-avatar">
              <%= image_tag current_user.user_picture, class:"avatar avatar-large" %>
            </div>
            <div class="comment-content clearfix">
              <h5 class="comment-author font-alt">
                <a href="#"><%= current_user.first_name %></a>
              </h5>
              <div class="comment-body">
                <p>
                  <li>
                    <%= comment.content %>
                  </li>
                </p>
              </div>
              <div class="comment-meta font-alt">
                <%= Time.now.to_formatted_s(:short) %>
              </div>
            </div>
          </div>
        <% end %>
      </ul>
  </div>
<% end %>
<!-- /COMMENTS -->

  <!-- COMMENT FORM -->
<% if !policy(@project).join_project? %>
  <div class="comment-form margin-bottom col-sx-12 col-sm-10 col-sm-offset-3" id="coin_mes">
    <h4 class="comment-form-title font-alt">Leave a comment</h4>
    <hr class="divider m-b-30">

    <div class="row">
      <%= simple_form_for([@project, @project.reviews.build]) do |f| %>
      <div class="col-md-12">
        <div class="form-group">
          <%= f.input :content %>
        </div>
      </div>
      <div class="col-md-12">
        <%= f.submit class:"btn btn-round btn-g"%>
      </div>

      <% end %>
    </div>
    <!-- /COMMENT FORM -->
  </div>
<% end %>
<!-- /CONTENT -->

