<p class="margin_top"><%= render 'shared/form_projects' %></p>

  <% if !params[:city].present? && !params[:genre].present? && !params[:start_date].present? && !params[:end_date].present?  %>
  <%= render 'projects/caroussel' %>
  <% end %>

<section class="module">
    <div class="container">
      <div class="row multi-columns-row">
          <%@projects.each do |proj|%>
            <!-- POST -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 m-b-60">
              <div class="post">
                <div class="post-media-index">
                <%= link_to project_path(proj) do %>
                    <%= image_tag proj.project_picture %>
                <%end%>
                </div>
                <div class="post-meta font-alt">
                  By <a href="#"><%#= proj.users.find(1).first_name %></a> / Du: <%= proj.start_date %> Au: <%= proj.end_date %> / Ville: <%= proj.city %> / Genre: "<%= proj.genre %>"/ Participants: <%= proj.number_of_participants %> / <%= proj.number_of_days_for_crowdfunding %> / <%= proj.goal_for_crowdfunding %>.
                </div>
                <div class="post-header">
                  <h4 class="post-title font-alt">
                      <%= proj.name %>
                  </h4>
                </div>
                <div class="post-entry">
                  <p>Synopsis: "<%= proj.synopsis[0..200] %>...</p>
                </div>
                <div class="post-more-link font-alt btn btn col-xs-offset-2">
                  <%= link_to project_path(proj), class:"btn btn-default btn-round btn-lg" do %>
                    View Project
                  <%end%>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </section>

 <!-- PAGINATION -->

<%= will_paginate @projects, class:"text-center" %>
<!-- <div class="row">

  <div class="col-sm-12 text-center m-t-60">
    <ul class="pagination font-alt">
      <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
      <li><a href="#">1</a></li>
      <li class="active"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
    </ul>
  </div>

</div> -->
<!-- /PAGINATION -->

<!-- MAP -->

<!-- <%= render 'shared/form_mappi' %>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
        var coord = <%= raw @project_coordinates %>;
        alert('Project coordinates are ' + coord.lat + ', ' + coord.lng);
      });
    <% end %>
  <% end %>

  <div id="map" style="width: 50%; height: 200px;">
  </div>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).on('ready', function() {
          handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function(){
            markers = handler.addMarkers(<%= raw @markers.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
          });
        })
      <% end %>
    <% end %> -->

</div>

<%= render 'projects/caroussel2' %>