<br>
<%= render 'shared/form_projects' %>
<br>

<!-- --------------------------------------------------------------- -->
<div class="container">
<div class="row">
 <%@projects.each do |proj|%>
 <div class="col-xs-4">
    <div class="card_projects">
	       <p class="project_movie_title"><%= proj.name %></p>
    <div class="img-card-back" style="background: url('<%= proj.project_picture.url %>') no-repeat center center;background-size:cover;"></div>
       <p class="date">Du: <%= proj.start_date %>
      	  Au: <%= proj.end_date %></p>
      	 <p class="project_movie_city">Ville: <%= proj.city %></p>
      	 <p class="project_movie_genre">Genre: "<%= proj.genre %>"</p>
         <div class="project-percent-pledged" style="width: 100%"></div>
      	 <p class="project_movie_synopsis">Synopsis: "<%= proj.synopsis %>"</p>
      	 <p class="project_movie_scenario">Scenario: "<%= proj.scenario %>"</p>
         <div class="project-percent-pledged" style="width: 100%"></div>
      	 <p class="project_movie_participants">Participants: <%= proj.number_of_participants %></p>
      	 <p class="project_movie_number_of_days"><%= proj.number_of_days_for_crowdfunding %></p>

      	 <p class="project_movie_goal_for_crowd"><%= proj.goal_for_crowdfunding %></p>
         </div>
         <br>
         </div>

	     <% end %>
       </div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @flat_coordinates %>;
      alert('Flat coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>
<div id="map" style="width: 100%; height: 600px;"></div>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).on('ready', function() {
        handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function(){
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      })
    <% end %>
  <% end %>

</div>
