<p class="margin_top"><%= render 'shared/form_projects' %></p>

  <% if !params[:city].present? && !params[:genre].present? && !params[:start_date].present? && !params[:end_date].present?  %>
<% a = 0 %>
 <% @projects.each do |pro| %>
 <% if pro.id > 9 %>
 <% a += 1 %>
 <% end %>
 <% end %>
  <%= render 'caroussel' %>
  <% end %>

<div class="container">
  <div class="xs-6 margin_top font-alt">
    <h1>NOW LIVE ON SCREENFAMILY</h1>
  </div>
</div>

<section class="module">
    <div class="container">
      <div class="row multi-columns-row">
          <%@projects.each do |proj|%>
            <!-- POST -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 m-b-60">
              <div class="post size-index-block">
                <div class="post-media-index">
                <%= link_to project_path(proj) do %>
                    <%= image_tag proj.project_picture.url(:photo_home_project_index) %>
                <%end%>
                </div>
                <div class="post-meta font-alt">
                  Ville: <%= proj.city %> / Genre: "<%= proj.genre %> / Du: <%= proj.start_date %> Au: <%= proj.end_date %> / Participants: <%= proj.number_of_participants %>.
                </div>
                <div class="post-header">
                  <h4 class="post-title font-alt">
                      <%= proj.name %>
                  </h4>
                </div>
                <% if proj.synopsis.present?  %>
                <div class="post-entry">
                  <p><%= proj.synopsis[0..200] %>...</p>
                </div>
                <% end %>
              </div>
                <div class="post-more-link font-alt btn btn col-xs-offset-1 col-xs-6">
                  <%= link_to project_path(proj), class:"btn btn-info btn-lg" do %>
                    View Project
                  <%end%>
                </div>
            </div>
          <% end %>
      </div>
    </div>
  </section>

 <!-- PAGINATION -->
<div class="margin-bottom">
  <%= will_paginate @projects, class:"text-center" %>
</div>

<!-- <div class="row">

  <div class="col-sm-12 text-center m-t-60">
    <ul class="pagination font-alt">
      <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
      <li><a href="#">1</a></li>
      <li class="active"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
    </ul>
  </div>

</div> -->
<!-- /PAGINATION -->

<!-- MAP -->

<!-- <%= render 'shared/form_mappi' %>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
        var coord = <%= raw @project_coordinates %>;
        alert('Project coordinates are ' + coord.lat + ', ' + coord.lng);
      });
    <% end %>
  <% end %>

  <div id="map" style="width: 50%; height: 200px;">
  </div>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).on('ready', function() {
          handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function(){
            markers = handler.addMarkers(<%= raw @markers.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
          });
        })
      <% end %>
    <% end %> -->


<!-- <div class="container-flex px2 pb2 mobile-scroll-container">
<div class="row mobile-scroll-row">
<div class="curated-page mobile-scroll-row-item col col-2">
<a href="https://www.kickstarter.com/artbasel"><img alt="Art Basel for Non-Profit Visual Arts Organizations" class="image border fit full-width" src="https://ksr-ugc.imgix.net/photos/349/AB_Crowndfunding_Logo_Pos_RGB_Color_SQUARE_NEW.original.png?w=220&amp;h=220&amp;fit=crop&amp;v=&amp;auto=format&amp;q=92&amp;s=3949ade8a128e22612fc514b62e6406a"></a>
</div>
<div class="curated-page mobile-scroll-row-item col col-2">
<a href="https://www.kickstarter.com/igda"><img alt="International Game Developers Association" class="image border fit full-width" src="https://ksr-ugc.imgix.net/photos/55/Logo-Square.original.jpg?w=220&amp;h=220&amp;fit=crop&amp;v=&amp;auto=format&amp;q=92&amp;s=48720721b02c5b2371f562f83cc15e94"></a>
</div>
<div class="curated-page mobile-scroll-row-item col col-2">
<a href="https://www.kickstarter.com/RISD"><img alt="Rhode Island School of Design" class="image border fit full-width" src="https://ksr-ugc.imgix.net/photos/23/RISD_KICKSTARTER.original.jpg?w=220&amp;h=220&amp;fit=crop&amp;v=&amp;auto=format&amp;q=92&amp;s=b311484022db9bf18590bc105ae4dbff"></a>
</div>
<div class="curated-page mobile-scroll-row-item col col-2">
<a href="https://www.kickstarter.com/TEDFellows"><img alt="TED Fellows" class="image border fit full-width" src="https://ksr-ugc.imgix.net/photos/88/TEDFellows_fb_logo.original.gif?w=220&amp;h=220&amp;fit=crop&amp;v=&amp;auto=format&amp;frame=1&amp;q=92&amp;s=9605987c585d5ecd915d18d6933d42e4"></a>
</div>
<div class="curated-page mobile-scroll-row-item col col-2">
<a href="https://www.kickstarter.com/kodak"><img alt="Kodak" class="image border fit full-width" src="https://ksr-ugc.imgix.net/photos/458/kodakpic.original.png?w=220&amp;h=220&amp;fit=crop&amp;v=&amp;auto=format&amp;q=92&amp;s=dea32c0a8107b4f88caa67c49ba3ccdb"></a>
</div>
<div class="curated-page mobile-scroll-row-item col col-2">
<a href="https://www.kickstarter.com/sundanceinstitute"><img alt="Sundance Institute Artists" class="image border fit full-width" src="https://ksr-ugc.imgix.net/photos/34/SUndance_Logo.original.png?w=220&amp;h=220&amp;fit=crop&amp;v=&amp;auto=format&amp;q=92&amp;s=47c74013242af1eac1cb1d32e2905f19"></a>
</div>
</div>
</div>
</div> -->
