<p class="margin_top"><%= render 'shared/form_projects' %></p>

<section class="module">
      <div class="container">
        <div class="row multi-columns-row">
          <%@projects.each do |proj|%>
            <!-- POST -->
            <div class="col-sm-6 col-md-4 col-lg-4 m-b-60">
              <div class="post">
                <div class="post-media">
                  <a href="blog-single.html">
                    <% link_to project_path(proj) do %>
                      <%= proj.project_picture %>
                    <%end%>
                  </a>
                </div>
                <div class="post-meta font-alt">
                  By <a href="#"><%#= proj.users.find(1).first_name %></a> / Du: <%= proj.start_date %> Au: <%= proj.end_date %> / Ville: <%= proj.city %> / Genre: "<%= proj.genre %>"/ Participants: <%= proj.number_of_participants %> / <%= proj.number_of_days_for_crowdfunding %> / <%= proj.goal_for_crowdfunding %>.
                </div>
                <div class="post-header">
                  <h4 class="post-title font-alt">
                    <% link_to project_path(proj) do %>
                      <%= proj.name %>
                    <%end%>
                  </h4>
                </div>
                <div class="post-entry">
                  <p>Synopsis: "<%= proj.synopsis %></p>
                </div>
                <div class="post-more-link font-alt">
                  <%= link_to project_path(proj) do %>
                    View Project
                  <%end%>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </section>

 <!-- PAGINATION -->
<!-- <div class="row">

  <div class="col-sm-12 text-center m-t-60">
    <ul class="pagination font-alt">
      <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
      <li><a href="#">1</a></li>
      <li class="active"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
    </ul>
  </div>

</div> -->
<!-- /PAGINATION -->


  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
        var coord = <%= raw @project_coordinates %>;
        alert('Project coordinates are ' + coord.lat + ', ' + coord.lng);
      });
    <% end %>
  <% end %>
  <div id="map" style="width: 100%; height: 600px;">
  </div>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).on('ready', function() {
          handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function(){
            markers = handler.addMarkers(<%= raw @markers.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
          });
        })
      <% end %>
    <% end %>

</div>
