<div class="container margin_top">
    <ul class="nav nav-tabs" id="dashboard_project">
        <li class="active">
            <a href="#summary" data-target="#summary" data-toggle="tab">Summary</a>
        </li>
        <li>
            <a href="#scenario" data-target="#scenario" data-toggle="tab">Scenario</a>
        </li>
        <li>
            <a href="#discuss" data-target="#discuss" data-toggle="tab">Discuss</a>
        </li>
        <li>
            <a href="#calendar" data-target="#calendar" data-toggle="tab">Calendar</a>
        </li>
        <li>
            <a href="#crowdfunding" data-target="#crowdfunding" data-toggle="tab">Crowdfunding</a>
        </li>
    </ul>
</div>

<div class="tab-content">

    <div class="tab-pane active fade in" id="summary">
      <%= render 'projects/summary' %>
    </div>

    <div class="tab-pane" id="scenario">
      <%= render 'projects/scenario' %>
    </div>

    <div class="tab-pane" id="discuss">
      <%= render 'projects/discuss' %>
    </div>

    <div class="tab-pane" id="calendar">
      <%= render 'projects/calendar' %>
    </div>


    <div class="tab-pane" id="crowdfunding">
      <%= render 'projects/crowdfunding' %>
    </div>

</div>

<% if @project.disabled == false %>
  <p>Ce projet n'est pas disabled</p>
<% else %>
  <p>Ce projet est disabled</p>
<% end %>

<% if @project.validated_for_crowdfunding == false %>
  <p>Ce projet n'est pas crowdfunded</p>
<% else %>
  <p>Ce projet est crowdfunded</p>
<% end %>

<% if @project.inprogress == false %>
  <p>Ce projet n'a pas commencé</p>
<% else %>
  <p>Ce projet a commencé et sortira plus tard</p>
<% end %>

<% if @project.finished == false %>
  <p>Ce projet n'est pas terminé</p>
<% else %>
  <p>Ce projet est terminé</p>
<% end %>