<br>
<div class="container" >
  <div class="row">
    <div class="card_projects">
      <p class="project_movie_title"><%= @project.name %></p>
      <div class="container">
        <div class="img-card-back" style="background: url('<%= @project.project_picture.url %>') no-repeat center center;background-size:cover;"></div>
      </div>
      <p class="date">Du: <%= @project.start_date %>
      Au: <%= @project.end_date %></p>
      <p class="project_movie_city">Ville: <%= @project.city %></p>
      <p class="project_movie_genre">Genre: "<%= @project.genre %>"</p>
      <div class="project-percent-pledged" style="width: 100%"></div>
      <p class="project_movie_synopsis">Synopsis: "<%= @project.synopsis %>"</p>
      <p class="project_movie_scenario">Scenario: "<%= @project.scenario %>"</p>
      <div class="project-percent-pledged" style="width: 100%"></div>
      <p class="project_movie_participants">Participants: <%= @project.number_of_participants %></p>
      <p class="project_movie_number_of_days"><%= @project.number_of_days_for_crowdfunding %></p>
      <p class="project_movie_goal_for_crowd"><%= @project.goal_for_crowdfunding %></p>
      <br>


      <!-- <%= select('role', 'title', [['Rôle 1', 'role1'],['Rôle 2', 'role2']], {}, :selected => @role.title) %> -->
      <%= select_tag 'role_title', options_for_select(@roles.collect{ |r| [r.title, r.id] }, :selected => @role.title) %>
      <%= link_to "Join the screeny", join_project_path(:user_id => current_user.id, :project_id => @project.id, :title => @role.title), :method => :put %>
    </div>
  </div>
</div>

<h2>Reviews</h2>
<% @project.reviews.each do |comment| %>
  <p>
    <b>Content:</b>
    <%= comment.content %>
  </p>
 <% end %>
    </div>
  </div>
</div>

<h2>Reviews</h2>
<% @project.reviews.each do |comment| %>
  <p>
    <b>Content:</b>
    <%= comment.content %>
  </p>
 <% end %>
 
<h2>Add a review:</h2>
<%= form_for([@project, @project.reviews.build]) do |f| %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 
<%= link_to 'Edit Post', edit_project_path(@project) %>
<%= link_to 'Back to Posts', projects_path %>

