
<% if @project.disabled? %>
<div class="margin_top margin-bottom">
    <h1 class="text-center">Sorry, this project is no longer available.</h1>
  <div class="col-xs-offset-3">
    <%= image_tag @project.project_picture.url(:photo_home_project_show) %>
  </div>
</div>
<% else %>

<div class="container margin_top">
    <ul class="nav nav-tabs" id="dashboard_project">
        <li class="active">
            <a href="#summary" data-target="#summary" data-toggle="tab">Summary</a>
        </li>
        <% if !policy(@project).join_project? %>
        <li>
            <a href="#scenario" data-target="#scenario" data-toggle="tab">Scenario</a>
        </li>
        <li>
            <a href="#discuss" data-target="#discuss" data-toggle="tab">Discuss</a>
        </li>
        <li>
            <a href="#calendar" data-target="#calendar" data-toggle="tab">Calendar</a>
        </li>
        <% end %>
    </ul>
</div>

<div class="tab-content">

    <div class="tab-pane active fade in" id="summary">
      <%= render 'projects/summary' %>
    </div>

    <div class="tab-pane" id="scenario">
      <%= render 'projects/scenario' %>
    </div>

    <div class="tab-pane" id="discuss">
      <%= render 'projects/discuss' %>
    </div>

    <div class="tab-pane" id="calendar">
      <%= render 'projects/calendar' %>
    </div>
    <% if current_user.present? %>
    <% if current_user.id == @project.users.ids.reduce(:+) %>
      <%= link_to "Edit my project", edit_project_path(@project), class:"btn btn-primary btn-block"%>
    <% end %>
    <% end %>
</div>
<% end %>

<% a = 1 %>
<% if a > 5 %>
<% if Order.find(1).amount_cents != 0 %>
  <% Order.all.each do |o| %>
    <% a = a + o.payment["amount"] %>
  <% end %>

<% @project.goal_for_crowdfunding  / a %>
  <% z = " 0.0" + (@project.goal_for_crowdfunding  / a).to_s %>
<%= progress_bar z.to_f, alternative: 'success', striped: true %>
<% end %>
<% end %>
