<br>
<div class="container" >
  <div class="row">
    <div class="card_projects">
      <p class="project_movie_title"><%= @project.name %></p>
      <div class="container">
        <div class="img-card-back" style="background: url('<%= @project.project_picture.url %>') no-repeat center center;background-size:cover;"></div>
      </div>
      <p class="date">Du: <%= @project.start_date %>
      Au: <%= @project.end_date %></p>
      <p class="project_movie_city">Ville: <%= @project.city %></p>
      <p class="project_movie_genre">Genre: "<%= @project.genre %>"</p>
      <div class="project-percent-pledged" style="width: 100%"></div>
      <p class="project_movie_synopsis">Synopsis: "<%= @project.synopsis %>"</p>
      <p class="project_movie_scenario">Scenario: "<%= @project.scenario %>"</p>
      <div class="project-percent-pledged" style="width: 100%"></div>
      <p class="project_movie_participants">Participants: <%= @project.number_of_participants %></p>
      <p class="project_movie_number_of_days"><%= @project.number_of_days_for_crowdfunding %></p>
      <p class="project_movie_goal_for_crowd"><%= @project.goal_for_crowdfunding %></p>
      <br>

      <!-- <% if policy(@project).join_project? %>
        <%= simple_form_for @project do |f| %>
          <%= f.input :title, collection: Role.roles_titles %>
          <%= f.button :submit %>
        <% end %>


        <%= select_tag 'title', options_for_select(Role.roles_titles, :selected => title) %>

        <%= link_to "Join the screeny", join_project_path(:user_id => current_user.id, :project_id => @project.id, :title => title), :method => :put %>
      <% end %> -->
      
    </div>
  </div>
</div>

<h2> List of joiners </h2>
<% @project.users.each do |user| %>
<%= user.first_name %>
<%= user.last_name %>
<% end %>

<h2>Reviews</h2>
<% @project.reviews.each do |comment| %>
  <p>
    <b>Content:</b>
    <%= comment.content %>
  </p>
 <% end %>
    </div>
  </div>
</div>

<h2>Reviews</h2>
<% @project.reviews.each do |comment| %>
  <p>
    <b>Content:</b>
    <%= comment.content %>
  </p>
 <% end %>

<h2>Add a review:</h2>
<%= form_for([@project, @project.reviews.build]) do |f| %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit Post', edit_project_path(@project) %>
<%= link_to 'Back to Posts', projects_path %>
