    <h1 style="margin-top: 70px; text-align: center;">Participation au projet "<%= Project.all.find(@order.project_sku.to_i).name %>"</h1>
    <p><%= image_tag Project.all.find(@order.project_sku.to_i).project_picture %></p>
<%= form_tag order_payments_path(@order) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@order.amount) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My Teddy"
    data-description="Teddy <%= @order.project_sku %>"
    data-amount="<%= @order.amount_cents %>"
    data-currency="EUR"></script>
<% end %>

